*{
	margin:0;
	padding:0;	
}
@font-face {
  font-family: Camphor_Regular;
  src: url('../fonts/Camphor_Regular.ttf');
}
$font-camphor: 'Camphor_Regular', san-serif;
$comm_fontsize : 14px;
$primary_color: #fff;
$black_color: #000;
$zeor_border: 0px;
$box-shadow: none;
$padding_zero : 0px;

.nopad{
    padding: $padding_zero ;
}
ul{
	li{
		list-style: none;
		display:inline-block;	
		float:left;
	}
}
ul{
	li{
		a{
			text-decoration: none;
		}
	}
}
$ten_pading :10px;

body{
	font-family: $font-camphor;
	font-size: $comm_fontsize;
	background: #fff;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow:hidden;
    font-weight: 400;
    font-style: normal;
}
.main_header{
	background: url(../images/background_img.png);
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;
    width: 100%;
    background-size: 100%;
    background-position: center;
}
.navbar_custom {
    background: transparent;
    border: 0;
    color: $primary_color;
}
.navbar_custom li a{
	color: $primary_color;
	text-decoration:none;
}
.custom_headernav h1{color:$primary_color;}
.custom_headernav svg path {
    fill:currentColor;
}
.custom_menu{
	padding: $ten_pading;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}
.custom_menu li a{
	color: $primary_color;
	font-size:17px;
	padding: 18px;
	float: left;
    width: 100%;
    text-transform: capitalize;
}
.custom_menu li.active a{background:none !important;}

.announcement{
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    font-weight: 500;
    color: $primary_color;
    text-decoration: none;
    background: rgba(0,0,140,.08);
    line-height: 26px;
    margin: 0 0 55px;
    padding: 0 12px 0 5px;
    border-radius: 15px;
}
.announcement .new_pill {
    padding: 0 6px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    background: #24b47e;
    text-transform: uppercase;
    border-radius: 10px;
}	
.announcement .message {
    margin: 0 7px 0 6px;
}
.remaining_content h1{font-size:40px;color:$primary_color;}
.common_Bodycontent{
	max-width:50%;
	color:#d9fcff;
	font-size:17px;
	font-weight:400;line-height:28px;
	margin-top: 20px;
}
.remaining_content {
    margin-top: 6rem;
    display: block;
}

#sub_header_deatils li a{
	color: $black_color;
}
#sub_header_deatils li a span{display:block;}
.inner_menu ul > li > a{
    padding:10px 15px;
}
.inner_menu.active ul > li > a{
    color:$black_color;
}
.inner_menu.active ul > li > a:hover{color:$black_color;}
.inner_menu.active ul > li > a span{    
    font-size: 15px;
    line-height: 22px;
    color: #6b7c93;    
    display: block;
    white-space: nowrap;
}
.inner_menu.active ul > li > a h3{
    margin: 0;
    color: #6772e5;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .025em;
}   

.custom_menu li.inner_menu ul li {
    width: 100%;
    float: left;
}

li.inner_menu.active #sub_header_deatils_0:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    content: '';
    position: absolute;
    top: -10px;
    left: 38px;
}
li.inner_menu.active #sub_header_deatils_1:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    content: '';
    position: absolute;
    top: -10px;
    left: 44px;
}
li.inner_menu.active #sub_header_deatils_2:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    content: '';
    position: absolute;
    top: -10px;
    left: 44px;
}




%common_shared{
    font-family: "FontAwesome";
    float: left;
    padding-right: 10px;
    font-size:28px;
    width:50px;
    height:50px;
    text-align: center;
}

$color_com_head_1: #6772e5;
$color_com_head_2: #24b47e;
$color_com_head_3: #32325d;

.head_name_connect, .head_name_api_status{
        color:$color_com_head_1;
}
.head_name_billing, .head_name_full_api {
        color:$color_com_head_2;
}
.head_name_payments{color:$color_com_head_3;}
.head_name_documentation{
    color:#5534FE !important;
}

head_name_about_stripe{
    color: #5534FE;
}
.icon_connect:before{
    content: '\f24d';
    color: $color_com_head_1;
    @extend %common_shared;
}
.icon_billing:before{
    content: '\f0f3';
    color:$color_com_head_2;
    @extend %common_shared;
}
.icon_payments:before{
    content: '\f0c1';
    color:$color_com_head_3;
    @extend %common_shared;
}
.icon_api_status:before{
    content: '\f02d';
    color: $color_com_head_1;
    @extend %common_shared;
}
.icon_full_api:before{
    content: '\f00c';
    color: $color_com_head_2;
    @extend %common_shared;
}
.icon_documentation:before{
    content: '\f059';
    color: #5534FE;
    @extend %common_shared;
}
.linkGroup ul li a:hover .head_name_connect, .linkGroup ul li a:hover .linkSub{
    color:#000 !important;
}
.icon_full_api h3{color: #24b47e !important;}
.icon_documentation h3{color:#5534FE !important;}

.icon_about_stripe:before{
    content: '\f017';
    color: #6772e5;
    @extend %common_shared;
}

%common_btn{
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.btn_startnw {
    color: #ffffff;
    background-color: #3ecf8e;
    @extend %common_btn;
}
.btn_contactsal{
    background: #fff;
    color: #7795f8;    
    margin-left:24px;
    @extend %common_btn;
}
.adobe_two_btns{
    margin-top:65px;
    display:block;
}

.dropdown:hover li.inner_menu.active .com_trsrotate {
    display: block;
    width: 450px;
    opacity: 1;
}
.com_trsrotate{
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 50px;   
    -webkit-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
    -webkit-transform-origin: 50% -50px;
    transform-origin: 50% -50px;
    opacity: 0;
    will-change: transform,opacity;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    display: none;
}


#header_deatils .left {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}
#header_deatils .active{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

#header_deatils .right{
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
}

li.inner_menu.active a:hover #sub_header_deatils_0{display:block;min-width: 500px;}


:root {
    overflow-x: hidden;
    height: 100%;
}


.adobe_globalNav {
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.rootLink h1{margin:0;}

.navSection .rootLink {
    background:transparent;
    border:0;
}
.navSection .rootLink span{
    color: #fff;
    padding: 0px 12px;
    font-size:18px;
    margin:2px;
    display:block;
    text-transform: capitalize;
}


div#menu_list {
    margin: 6px 0;
}
.adobe_globalNav .navRoot {
    position: relative;
}
.adobe_globalNav .navRoot .navSection h1{margin:10px 0;}

.adobe_globalNav.dropdownActive .dropdownRoot{
    opacity:1;pointer-events:auto;-webkit-transform:none;transform:none
}
.adobe_globalNav .dropdownRoot {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 50px;
    pointer-events: none;
    -webkit-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
    -webkit-transform-origin: 50% -50px;
    transform-origin: 50% -50px;
    opacity: 0;
    will-change: transform,opacity;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    display: none;
}

.globalNav .linkSub {
    font-size: 15px;
    line-height: 22px;
    color: #6b7c93;
    margin: 5px 0 0;
    display: block;
    white-space: nowrap;
}
.adobe_globalNav .colorize {
    color: #fff;
}
.adobe_globalNav .item-home svg path {
    fill: currentColor;
}
.adobe_globalNav .alternateBackground, .adobe_globalNav .dropdownBackground {
    position: absolute;
    top: 10px;
    left: 0;
    will-change: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.adobe_globalNav .dropdownBackground {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    width: 380px;
    height: 280px !important;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.adobe_globalNav .dropdownArrow {
    top: -6px;
    margin: 6px 0 0 -6px;
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 4px 0 0 0;
    background: #fff;
    -webkit-box-shadow: -3px -3px 5px rgba(82,95,127,.04);
    box-shadow: -3px -3px 5px rgba(82,95,127,.04);
    will-change: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
}
.adobe_globalNav .dropdownContent {
    position: absolute;
    top: 0;
    left: 0;
}
.adobe_globalNav .dropdownContainer {
    overflow: hidden;
    width: 500px;
    top: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    will-change: transform,width,height;
    -webkit-transition-property: width,height,-webkit-transform;
    transition-property: width,height,-webkit-transform;
    transition-property: transform,width,height;
    transition-property: transform,width,height,-webkit-transform;
}
.adobe_globalNav .dropdownSection.left {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}
.adobe_globalNav .dropdownSection.active {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.adobe_globalNav .dropdownSection.right {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
}

.adobe_globalNav.noDropdownTransition .alternateBackground, .adobe_globalNav.noDropdownTransition .dropdownArrow, .adobe_globalNav.noDropdownTransition .dropdownBackground, .adobe_globalNav.noDropdownTransition .dropdownContainer, .adobe_globalNav.noDropdownTransition .dropdownSection {
    -webkit-transition: none;
    transition: none;
}
.adobe_globalNav .dropdownSection {
    opacity: 0;
    pointer-events: none;
    will-change: transform,opacity;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    background: red;
}

.adobe_globalNav .linkGroup {
    padding: 12px 20px;
}
.adobe_globalNav .productsGroupPrimary, .adobe_globalNav .productsGroupSecondary {
    margin: -5px -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.adobe_globalNav .productsGroupPrimary>li, .adobe_globalNav .productsGroupSecondary>li {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.adobe_globalNav .productsGroupPrimary .linkContainer {
    padding: 16px 8px;
}
.adobe_globalNav .linkContainer:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    right: -10px;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 1.5px #8898aa;
    box-shadow: 0 0 0 1.5px #8898aa;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: opacity .15s;
    transition: opacity .15s;
}
.adobe_globalNav .productsGroupPrimary svg {
    width: 48px;
    height: 48px;
}


.adobe_globalNav .productsGroupPrimary .productLinkContent {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.adobe_globalNav .linkTitle {
    margin: 0;    
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .025em;
}
.adobe_globalNav .linkSub {
    font-size: 15px;
    line-height: 22px;
    color: #6b7c93;
    margin: 5px 0 0;
    display: block;
    white-space: nowrap;
}


/*mobile responsive*/
.adobe_globalNav .navSection.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.adobe_globalNav .navSection.mobile .rootLink {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
    padding: 0 30px;
    top:-10px;
}
.adobe_globalNav .navSection.mobile .rootLink h2 {
    font-size: 0;
    left: 13px;
    top: 23px;
}

.adobe_globalNav .navSection.mobile .rootLink h2, .adobe_globalNav .navSection.mobile .rootLink h2:after, .adobe_globalNav .navSection.mobile .rootLink h2:before {
    position: absolute;
    width: 24px;
    height: 3px;
    border-radius: 1px;
    background: currentColor;
}
.adobe_globalNav .navSection.mobile .rootLink h2:before {
    top: -9px;
}
.adobe_globalNav .navSection.mobile .rootLink h2:after, .adobe_globalNav .navSection.mobile .rootLink h2:before {
    content: "";
    left: 0;
}
.adobe_globalNav .navSection.mobile .rootLink h2:after {
    top: 9px;
}


.adobe_globalNav .popup {
    position: absolute;
    left: 0px;
    top: 5px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    pointer-events: none;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    width:100%;
}

.adobe_globalNav .popupContainer {
    background: #fff;
    -webkit-box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3), 0 -18px 60px -10px rgba(0,0,0,.025);
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    line-height: 40px;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 0;
    will-change: transform,opacity;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.adobe_globalNav .navSection.mobile.globalPopupActive .popupContainer {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    padding:10px;
}


.adobe_globalNav .rootLink {
    display: inline-block;
    height: 50px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 17px;
    line-height: 50px;
    font-weight: 400;
    margin: 0;
    padding: 0 10px;
}

.adobe_globalNav .navSection.mobile {
    display: none;
    float:right;
}
.adobe_globalNav .popup a {
    display: block;
}
.adobe_globalNav .popupCloseButton:after, .adobe_globalNav .popupCloseButton:before {
    content: "";
    position: absolute;
    background: #6772e5;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 24px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: background .1s;
    transition: background .1s;
}
.adobe_globalNav .popupCloseButton:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.adobe_globalNav .popupCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;
    z-index:999;
}
#mobile_headers h4{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .025em;
    color: #8898aa;
    text-transform: uppercase;    
}
.mobileProducts{
    overflow: auto;
    height: 490px;
}
::-webkit-scrollbar {
  display: none;
}



@media (max-width: 768px){
    .navbar-default .navbar-toggle{border:0;}    
    mobile_close_btn{cursor:pointer;z-index:99;}
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:transparent;}    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{border:0;}
    #menu_list{display:none;}
    .adobe_globalNav .navSection.mobile{display:block;}
}


@media (max-width: 670px){
    .com_trsrotate{display: block;}
    .main_header{background-size: cover;}
    .remaining_content{ margin-top:2rem;}
    .announcement{margin:0;}
    .mobile_res {
        position: relative;
        background: #fff;
        padding:10px;
        height: 100vh;
        color: #000;
        z-index: 0;
        width: 100%;
    }
    span.mobile_close_btn {
        position: absolute;
        top: 8px;
        right: 12px;
        z-index: 99;
        display: block;
        color: #000;
    }
    .custom_menu li a{color:#000;padding: 5px !important; }
    .adobe_pri_menu_0 a:before, .adobe_pri_menu_1 a:before, .adobe_pri_menu_2 a:before, .adobe_sec_menu_0 a:before, .adobe_sec_menu_1 a:before, .adobe_sec_menu_2 a:before, .adobe_trd_menu_0 a:before{
        font-size: 23px;width: 40px;height: 40px;
    }
    button.navbar-toggle.collapsed{ border: 0;}
    .navbar-default .navbar-toggle .icon-bar{background-color:#fff;color:#fff;}
    .navbar-toggle .icon-bar {margin-top: 12px;}
    .com_trsrotate {
        display: block;        
        position: relative;
        opacity: 1;
        top: 0;
        width: 100%;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        border: 0;
        box-shadow: none;
    }
    li.inner_menu {width: 100%;overflow: hidden;}
    .com_trsrotate h3{
        color: #000;margin: 5px 0 0 0;font-size: 15px;
    }
    .com_trsrotate span {
        color: #000;font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media (max-width: 457px){
    .com_trsrotate span {font-size: 13px;}
    .com_trsrotate h3{font-size:14px;}
}

@media (max-width: 320px){
    .com_trsrotate span {font-size: 12px;}
}

@media (min-width: 670px){
    .adobe_globalNav.initialized .dropdownRoot {
        display: block;
    }
}
